.container {
    background: yellowgreen;
    margin: 10px auto 0 auto;
}

ul li {
    list-style-type: upper-roman;
    cursor: pointer;
}

.controls {
    display: flex;
    justify-content: space-around;
}

.play,
.pause {
    font-size:4rem;
}